/** RESET **/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  /* PRIMARY */

  --dark-cyan: hsl(192, 37%, 48%);
  --dark-violet: hsl(268, 34%, 53%);
  --ebony-Clay: hsl(240, 21%, 20%);
  --light-blue-purple: hsl(240, 10%, 57%);

  /* NEUTRAL */
  --sky: hsl(192, 90%, 77%);
  --pink: hsl(268, 100%, 86%);
  --white: hsl(0, 0%, 98%);
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  min-height: 100vh;

  margin: 0 auto;
  max-width: 23.43rem;
}

.max-width-wrapper {
  max-width: 1440px;
  margin: 0 10px;
}

/* HEADER */

.logo {
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 54px;
}

/* HEADER IMAGES */
